// colors

$backgroundColor: #606060; // #a1a1a1;
$bodyColor: #949494; // #dadada;
$cardColor: #b7b7b7; // fff;
$cardsForDeferColor: #ffffff;
$cardsShirtColor: #555555;
$actionDefaultColor: #000000;
$actionBtnDiscardColor: #2ea44f;
$actionBtnDiscardHoverColor: #237c3b;
$actionBtnGrabCardColor: #fd7e14;
$actionBtnGrabHoverCardColor: #d46a11;