// colors

$whiteColor: #ffffff;
$backgroundColor: #000000;
$bodyColor: #707070;
$bodyColorFieldFrom: #196d1a;
$bodyColorFieldTo: #004f00;
$cardColor: #eeeeee;
$cardBorder: #222222;
$cardsForDeferColor: #ffffff;
$cardsShirtColor: #555555;
$actionDefaultColor: #000000;
$actionBtnDiscardColor: #2ea44f;
$actionBtnGrabCardColor: #fd7e14;
$startBtnHoverColor: #2ea44f;