// colors

$whiteColor: #ffffff;
$backgroundColor: #000000; //  #606060 #a1a1a1
$bodyColor: #cccccc; //  #949494
$cardColor: #eeeeee; //  #b7b7b7
$cardBorder: #222222;
$cardsForDeferColor: #ffffff;
$cardsShirtColor: #555555;
$actionDefaultColor: #000000;
$actionBtnDiscardColor: #2ea44f;
$actionBtnGrabCardColor: #fd7e14;
//$actionBtnDiscardHoverColor: #237c3b;
//$actionBtnGrabHoverCardColor: #d46a11;
$startBtnHoverColor: #2ea44f;